.container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.arrow {
  font-size: 1.6rem;
  color: var(--color-black);
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--color-primary-100);
  border: 1px solid;
  border-color: var(--color-primary-200);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.arrow:hover {
  background-color: var(--color-primary-200);
}

.arrowDisabled {
  font-size: 1.6rem;
  color: var(--color-black);
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--color-primary-200);
  border: 1px solid;
  border-color: var(--color-primary-200);
  border-radius: 4px;
  cursor: not-allowed;

  opacity: 0.6;
}
