.table {
  margin-top: 0.8rem;
  width: 100%;
}

.table tr th {
  background-color: var(--color-primary-100);
  padding: 0.4rem 0;
}

.table tr:nth-child(2n) {
  background-color: var(--color-gray-100);
}

.table td,
th {
  padding: 0.1rem 0.6rem;
}
