.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-black);
}

.link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  transition: color 0.2s ease-out;
}

.link:hover {
  color: var(--color-secondary);
}

.nav {
  display: flex;
  gap: 20px;
}
