.card {
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  overflow: hidden;
  width: 345px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  min-height: 60px;
}

.image {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  object-fit: cover;
}

.footer {
  padding: 1rem;
  text-align: center;
}

.name {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
}

.track {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: var(--color-gray-200);
  display: block;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease-out;
}

.link:hover {
  color: var(--color-secondary);
}
